* { margin: 0px; padding: 0px; }
body { width:100vw; height:100vh; background-color:#EEE;}
.trackpad-area{
  width:100%;
  height:100%;
  border-radius:10px;
  background-color:#BBB;
}

.content {
  width:100%;
  height:80%;
}

.inputrow{
  width:100%;
  height:10%;
  display:flex;
}
.placeholder {
  flex-grow:1;
  height:100%;
}

#textinput{
  width:20%;
  height:90%;
  font-size: large;
}
.buttons{
  width:20%;
  height:100%;
  font-size: 5vh;
}
.menu {
    width:20%;
    height:100%;
    font-size: 5vh;
}
._inv_ {
    display: none;
}
