* { margin: 0; padding: 0; }
body { width:100vw; height:100vh; padding:5px; background-color:#EEE;}
.trackpad-area{
  width:100%;
  height:90%;
  border-radius:10px;
  border:1px solid #666;
  background-color:#DDD;
}

.content {
  width:100%;
  height:90%;
}

.inputrow{
  width:100%;
  height:10%;
}
#textinput{
  width:20%;
  height:70%;
  font-size: large;
}
.buttons{
  width:20%;
  height:100%;
  font-size: 5vh;
}
.menu {
    width:10%;
    height:100%;
    font-size: 5vh;
}
._inv_ {
    display: none;
}
