* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
}

html, body {
    width:100%;
    height:100%;
    background-color:#EEE;
}

.content {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    position: fixed;
    width: 100%;
    height: 100%;
}

#swipecontent {
    display:flex;
    flex-direction:column;
    width:100%;
}

.menu {
    width:20%;
    height:100%;
    font-size: 5vh;
}
.contentitem {
    width:100%;
    position:sticky;
    flex-grow:0;
}
.contentitem2 {
    width:100%;
    height:100%;
    position:sticky;
    flex-grow:0;
}

._inv_ {
    display: none;
}

.inputrow{
    width:100%;
    height:10vh;
    display:flex;
}
.placeholder {
    flex-grow:1;
    height:100%;
    font-size: 5vh;
}
.buttons{
    width:20%;
    height:100%;
    font-size: 5vh;
}
.buttons6{
    width:16%;
    height:100%;
    font-size: 5vh;
}
.tallrow{
    width:100%;
    height:100%;
    display:flex;
}
.buttonslarge{
    width:40%;
    height:100%;
    font-size: 10vh;
}

.trackpad-area{
    flex-grow:1;
    width:100%;
    border-radius:10px;
    background-color:#BBB;
}

#charinput{
    width:20%;
    height:90%;
    font-size: large;
}

.flist {
    height:100%;
    position:absolute;
    overflow-x: auto;
    overflow-y: scroll;
    white-space: nowrap;
    width:100%;
	max-width: 100%;
}
.ftable {
	width: 100%;
	max-width: 100%;
}
.ftable tr { height:10vh; /*width:100%;*/ }
.ftable tr:nth-child(even):not(.highlight) {background: #CCC}
.ftable tr:nth-child(odd):not(.highlight) {background: #FFF}
.ftable td {
    align:left;
}
.ftable input {
    height:10vh; width:100%; border:0; font-size: 3.5vh; text-align: left;
    background-color:inherit;
}
.hdelete {
    height:100%;
    font-size: 5vh;
    margin: 1%;
}
.highlight {
    background-color: lightgreen;
}

#currentpath {
    font-size: 3vh;
    width: 80%;
    height: 10vh;
    overflow: hidden;
}
