* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width:100%;
    height:100%;
    background-color:#EEE;
}

.content {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}

.swipecontent {
    display:flex;
    flex-direction:column;
    width:100%;
}

.menu {
    width:20%;
    height:100%;
    font-size: 5vh;
}
.contentitem {
    width:100%;
    flex-grow:0;
}
._inv_ {
    display: none;
}

.inputrow{
    width:100%;
    height:10vh;
    display:flex;
}
.placeholder {
    flex-grow:1;
    height:100%;
    font-size: 5vh;
}
.buttons{
    width:20%;
    height:100%;
    font-size: 5vh;
}
.buttons6{
    width:16%;
    height:100%;
    font-size: 5vh;
}

.trackpad-area{
    flex-grow:1;
    width:100%;
    border-radius:10px;
    background-color:#BBB;
}

#textinput{
    width:20%;
    height:90%;
    font-size: large;
}

#fblist {
    width:100%;
    height:100%;
}
#fbtable {
    width:100%;
}
#fbtable tr { height:10vh; width:100%; }
#fbtable td { align:left; }
#fbtable input { height:10vh; width:100%; border:0; font-size: 3.5vh; text-align: left; }
